<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Signup age</title>
</head>
<body>
    
    <!-- nav bar -->
    <%- include("partials/nav.ejs") %>

    <!-- signup form -->
     <h1>signup</h1>


</body>
<%- include("partials/script.ejs") %>
</html>